/* Footer */
.PreviewFooter {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  display: flex;
  flex-flow: row-reverse;
}

.PoweredBar {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  color: rgb(128, 128, 128);
  margin-left: 8px;
}

.PoweredTitle {
  font-size: 14px;
  font-weight: 700;
  margin-left: 8px;
  color: rgb(128, 128, 128);
}

.ProgressBar {
  display: flex;
  justify-content: center;
  background-color: rgba(220, 238, 255, 0.4);
  min-width: 200px;
  max-width: 240px;
  flex-flow: column;
  padding: 4px 8px;
  border-radius: 4px;
}

.ProgressTitle {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 2px;
  opacity: 0.7;
  word-spacing: 2px;
}

.BarContainer {
  height: 4px;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(38, 38, 38, 0.1);
  position: relative;
}

.BarFill {
  background-color: #262626;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
