.SignupContainer {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 40% auto;
}

.SignupImage {
  padding: 32px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.SignupImage img {
  margin: 16px 0;
  width: auto;
  flex-grow: 1;
  max-height: -webkit-fill-available;
}

.Signup {
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
}

.SignupContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Signup h1 {
  font-size: 48px;
  font-weight: bold;
}

.SpaceBlock {
  margin: 16px 0;
}

.SignupDesc {
  color: #585858;
  font-size: 20px;
}
