.Login {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SpaceBlock {
  margin: 16px 0;
}

.LoginDesc {
  color: #585858;
}
