* {
  color: #262627;
}

.Dashboard {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-flow: column nowrap;
}

.Dashboard > div:last-child {
  flex: 1 1 0%;
}

.EpicLogo {
  text-decoration: none;
}

.WorkspaceContainer {
  display: flex;
}

.WorkspaceContainer > div:last-child {
  flex-grow: 1;
  background-color: rgb(250, 250, 250);
}

.DeleteDescription {
  font-size: 14px;
  margin-bottom: 16px;
}
