.ChoiceContainer {
  display: flex;
  margin: 32px 0 16px 0;
  flex-flow: row wrap;
  align-items: stretch;
}

.ChoiceItem {
  padding: 8px 16px;
  box-shadow: rgb(38 38 38 / 60%) 0px 0px 0px 1px inset;
  border-radius: 4px;
  background-color: rgba(38, 38, 38, 0.05);
  margin: 8px 0;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  flex-shrink: 1;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  flex-grow: 1;
}

.ChoiceItem:hover {
  background-color: rgba(38, 38, 38, 0.33);
}

.ChoiceItem.Selected {
  box-shadow: rgb(38 38 38 / 90%) 0px 0px 0px 2px inset;
  background-color: rgba(38, 38, 38, 0.25);
}

.CheckedIcon {
  display: none;
}

.ChoiceItem.Selected > .CheckedIcon {
  display: flex;
  align-items: center;
}
