.Button {
  border-radius: 8px;
  background: #f1e4ff;
  padding: 16px 30px;
  border: none;
  font-size: inherit;
  color: #8c30f5;
  font-weight: bold;
  cursor: pointer;
}

.Button.Secondary {
  background-color: #8c30f5;
  color: #fff;
}

.Button.Outline {
  background-color: transparent;
  border: 1px solid #8c30f5;
  padding: 0 16px 0 0;
}

.Button.Outline span {
  padding-left: 8px;
}
