.Modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  height: 100vh;
  max-height: 100vh;
}

.ModalContainer {
  width: 100%;
  max-width: 448px;
  height: auto;
  padding: 24px 32px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ModalClose {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.CloseButton {
  cursor: pointer;
}
