.ModalFullPage {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.ModalBanner {
  background-color: rgb(38, 38, 39);
  padding: 12px 8px;
  display: flex;
  align-items: center;
}

.ModalBannerTitle {
  color: #fff;
  flex-grow: 1;
  font-size: 14px;
  text-align: center;
}

.ModalContent {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
