.ThankyouScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 32px;
}

.ThankyouScreen h1 {
  color: #262626;
}

.ThankyouDescription {
  font-size: 20px;
  color: rgba(38, 38, 38, 0.7);
  margin: 8px;
  line-height: 28px;
}

.ThankyouButton {
  margin-top: 38px;
}
