.PreviewField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 32px;
  max-width: 720px;
  margin: 0 auto;
}

.FieldTitle {
  font-size: 24px;
  font-weight: 400;
  margin: 8px 0;
}

.FieldDescription {
  font-size: 20px;
  color: rgba(38, 38, 38, 0.7);
}

.FieldButton {
  margin-top: 38px;
}
